.pl{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pl-texts{
    width: 65%;
}
.pl-title{
    font-size: 50px;
    font-weight: 600;
}
.pl-desc{
    margin: 20px 0px;
}
.pl-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width: 480px) {
    .pl{
        padding: 10px;
    }
    .pl-texts{
        width: 100%;
    }
    .pl-desc{
        display: none;
    }
}
#ad{
    font-size: 50px;
    animation: shake 2s ease 0s infinite normal forwards;
}
@keyframes shake {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
  }
    24% {
        opacity: 1;
  }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
  }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
  }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
  }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
  }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
  }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
  }
}